.InterviewForm{
    width: 500;
    // .SelectSearch{
    //     width: 50%;
    // }
    .ant-table-thead .ant-table-cell {
        background-color: #cfe8e0;
      }
    .timePicker{
        display:flex;
        // align-content:flex-end;
        justify-content:flex-end;
        width: 100%;
    }
}
