.MyFooter {
  height: 100%;
  width: 100%;
  background-color: #141414;
  position: relative;
  z-index: 1000;

  .content {
    min-height: 20vh;
    width: 100%;
    flex-direction: row;
    .title {
      color: #d9dadc;
      cursor: unset;
      &:hover{
        cursor: pointer;
        color: #fff;
      }
    }
  }

  .sider {
    min-height: 10vh;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    .icon {
      color: #d9dadc;
      cursor: unset;
      &:hover{
        cursor: pointer;
        color: #fff;
      }
    }
  }
  .footer {
    min-height: 10vh;
    padding: 1rem;
    width: 100%;
    height: 100%;
    .icon {
      color: #d9dadc;
      cursor: unset;
      &:hover{
        cursor: pointer;
        color: #fff;
      }
    }
  }
}
