.AboutUs {
  background: white;
  width: 100vw;

  .flex {
    display: flex;
  }

  .align-center {
    align-items: center;
  }

  .text-center {
    text-align: center;
  }

  .mt-56 {
    margin-top: 56px;
  }


  .header {
    background-color: white;
    height: 2.5rem;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    height: 56px;
    padding: 0px 3rem;
    position: sticky;
    top: 0;
    z-index: 11;
    border: 1px solid rgba(253, 253, 253, 0.12);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-bottom: 0.5px solid #d9d9d9;

    h1, h2, h3, h4, h5, span, p {
      margin-bottom: 0px;
      color: black;
    }

    .avatar {
      width: fit-content;
      height: fit-content;
      background: #dee2e6;
    
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      cursor: pointer;

    
      padding: 3px 4px;
      border-radius: 50px;
    }

    .logo {
      cursor: pointer;
    }
    .logo:hover {
      opacity: 0.7;
    }

    .menu {
      font-size: 0.75rem;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.6s;
    }

    .menu:hover {
      opacity: 0.7;
    }

    .name {
      color: black;
      word-wrap: break-word;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100px;
      color: #2C1F54;
    }

    .switch {
      background-color: blueviolet;
    }

    .gap-1 {
      gap: 1rem;
    }

    .gap-2 {
      gap: 2rem;
    }


    ul li {
      list-style: none;
    }
  }

  .about-us {
    width: 100%;
    height: 437px;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-image: url('../../../../assets/images/about-us-header.png');
  }

  .polygon {
    height: 100%;
    width: 40%;
    background: white;
    clip-path: polygon(0% 0%, 70% 0, 100% 50%, 70% 100%, 0% 100%);
  }

  .title-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
  }

  .title {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 0.2rem !important;
    color: #2C1F54;
  }
  .company {
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0px !important;
    color: #2C1F54;
  }

  .outer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 12rem;
  }

  .intro {
    padding: 3em 0 2em;
  }

  .why {
    background: #F4F4F4;
    margin-bottom: 12rem;
  }


  .inner {
    width: 1000px;
  }

  .why-title {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #E5007D;
    line-height: 1;
    font-size: 1.5rem;
    font-weight: 700;
    width: fit-content;
    color: #2C1F54;
  }

  .why-content {
    font-size: 1.1rem;
    margin-bottom: 0.5em;
    font-weight: 500;
    color: #2C1F54;
  }

  .content {
    width: 60%;   
  }

  .content h3 {
    font-weight: 700;   
    padding-left: 1rem;
    max-width: 85%;
    border-left: 10px solid #E5007D;
    color: #2C1F54;
  }
  
  .content span {
    display: inline-block;
    color: #2C1F54;
    margin-bottom: 9px;
    font-size: 1rem;
    font-weight: 500;
  }

  .image-1 {
    width: 40%;
    height: 350px;
    background: url(../../../../assets/images/bg_9.jpg);
    background-repeat: no-repeat;
    background-size: 100% 350px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  }

  

  .col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .col h4 {
    font-size: 24px;
    color: #2C1F54;
    text-align: center;
  }

  .col span {
    color: #595959;
    font-size: 1.2rem;
  }

  .row-title {
    font-weight: 700;
    font-size: 2.5rem;
    color: #2C1F54;
    margin-bottom: 3.5rem;
  }

  .icon {
    font-size: 2.5rem !important;
    color: #E5007D !important;
    height: 4rem;
  }
}